---
layout: default
title: МКП ЖКХ г.Топки
overview: true
---

<section class="intro">
  <div class="content">
    <p class="first"> <br />МКП ЖКХ г.Топки.</p>
  </div>
</section>
{% for post in paginator.posts %}
  <div class="full">
    <h1 class="entry-title">
      <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h1>
    <div class="entry-content full-content">
      {{ post.content | truncatehtml: 500 }}
      <a href="{{ post.url }}" class="read_more">read more</a>
      <div class="clear"></div>
    </div>
    <p class="alt-font tight">
      Posted in&nbsp;
      {% for category in post.categories %}
      <a href="/categories/{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
      {% endfor %}
    </p>
    <p class="by-line">
      <span class="date full-date">
        <abbr class="published" title="{{ post.date }}">{{ post.date | date_to_string }}</abbr>
      </span>
    </p>
    <div class="clear"></div>
  </div>
  <div class="rule"><hr/></div>
{% endfor %}