<div class="section-nav">
  <div class="left align-right">
    {% if page.prev_section != null %}
      <a href="{{ site.url }}/docs/{{ page.prev_section }}" class="prev">
        Назад
      </a>
    {% else %}
      <span class="prev disabled">Назад</span>
    {% endif %}
  </div>
  <div class="right align-left">
    {% if page.next_section != null %}
      <a href="{{ site.url }}/docs/{{ page.next_section }}" class="next">
        Далее
      </a>
    {% else %}
      <span class="next disabled">Далее</span>
    {% endif %}
  </div>
  <div class="clear"></div>
</div>

